

* {
    font-family: 'Courier New', Courier, monospace;

}
body {
    display:grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 6fr;

}

.title {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    
}
.header {
font-size: 6rem;
justify-self: center;
padding: 20px;

}


.container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr ; 
    height: 500px;

    grid-row: 2/4;
}

.categories {
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;

}


.category {
    font-size: 3rem;
    border-style: solid;
    padding: 10px;
    margin: 10px;


}

.item {
    font-size: 1rem;
    border-style: dotted;
    margin: 10px;
    padding: 15px;
    font-family: 'Courier New', Courier, monospace;

}

.item-description {
    background-color: lightgrey;
    padding: 20px 5px;
}

.itemTitle {
    font-family: 'Courier New', Courier, monospace;
}